<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034543222691-7bpgdnd8dce801jhgvi4gs03m046425v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034543222691-7bpgdnd8dce801jhgvi4gs03m046425v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034543222691-lmebl3247cj6enlu330ac8qh4btsgprs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlj5qiZ2gPezwa0T1YOoJzNt7qkaLqcbc</string>
	<key>GCM_SENDER_ID</key>
	<string>1034543222691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hodam.galdaeApp</string>
	<key>PROJECT_ID</key>
	<string>galdae2-0</string>
	<key>STORAGE_BUCKET</key>
	<string>galdae2-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034543222691:ios:7c881db9ce511168dc9416</string>
</dict>
</plist>